
.hidden {
    display: none !important;
}

.header-todos {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logout-todos {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: all 100ms;
}

.logout-todos:hover {
    scale: 1.1;
}

.container-todos {
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/bg-01.jpg');
}

.container-card-todos {
    width: 70%;
    margin: auto;
    margin-top: 60px;
    min-height: 70vh;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px;
}

.projects-tasks-container {
    display: flex;
    margin-top: 15px;
}

#projects-list {
    flex: 1;
    padding-right: 15px;
}

#tasks-list {
    flex: 3;
}

.delete-btn, .cancel-btn {
    background-color: firebrick;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 100ms;
}

.delete-btn:hover, .cancel-btn:hover {
    background-color: #e22222;
}

.edit-btn, .save-btn {
    background-color: #c99510;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 100ms;
}

.edit-btn:hover, .save-btn:hover {
    background-color: #daa520;
}

#project-new {
    background-color: limegreen;
    color: black;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    transition: all 100ms;
}

#project-new:hover {
    background-color: #32ed32
}

.project-btn {
    cursor: pointer;
    padding: 5px;
    transition: all 100ms;
}

.project-btn:hover {
    margin-left: 10px;
    background-color: #e3e3e3
}

#task-new {
    background-color: limegreen;
    color: black;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    transition: all 100ms;
}

#task-new:hover {
    background-color: #32ed32
}

.task-expand-btn {
    cursor: pointer;
}

.task-expand-btn {
    cursor: pointer;
    padding: 5px;
    transition: all 100ms;
}

.task-expand-btn:hover {
    background-color: #e3e3e3
}

.task-header {
    display: flex;
}

.task-complete {
    border: 2px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transition: all 100ms;
}

.task-complete:hover {
    background-color: #c034f7;
}

.task-desc-short {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
